.pokelist {
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media all and (min-width:768px) {
    .pokelist {
        flex-flow: row wrap;
        justify-content: center;
    }
}
@media all and (min-width:1120px) {
    .pokelist {
    max-width: 1120px;
    margin: 0 auto;
    }
}
