.pokemon {
  list-style: none;
  align-self: center;
  margin: 10px;
  height: 220px;
  width: 160px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(235, 243, 242);
}
.name {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.pokemonImage {
  display: block;
  width: 120px;
  height: 120px;
  padding: 10px 20px;
}
.pokemonTypes {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 10px;
}
.pokemonType {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  background-color: rgb(163, 162, 162);
  color: white;
}
